.app-header-con {
  // background-color: rgb(223, 104, 1);
  background-color: white;

  position: sticky;
  top: 0;
  z-index: 10;
  height: 80px;
  padding: 0px 30px;
  .hideFilter {
    display: none;
  }

  .details {
    width: 1119px;
  }

  .app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: auto;
    max-width: 100%;

    .small-filter-div {
      width: 348px;
      height: 48px;
      padding: 0px 24px;
      margin-left: 197px;

      .small-filter-button {
        cursor: pointer;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        flex: 1 1 auto;
        justify-content: space-between;
        background-color: #ffffff;
        border: 1px solid #dddddd;
        border-radius: 40px;
        box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
        color: #464545;

        .small-filter-button-txt {
          padding-left: 18px;
          font-size: 14px;
          font-family: airbnb-regular;
          filter: contrast(4);
          font-weight: 500;
        }

        .small-filter-button-div {
          background-color: #ff385c;
          border-radius: 50%;
          width: 32px;
          height: 32px;
          margin: 7px 1px 7px 0;
          padding: 10px;

          .small-filter-button-img {
            width: 0.75rem;
          }
        }
      }
    }

    .logo-con {
      display: flex;
      align-items: center;
      padding-left: 0px;
      .logo-txt {
        color: #ff385c;
        font-size: 1.3rem;
        cursor: pointer;
        padding: 0.27rem;
        font-family: airbnb-regular;
        font-weight: 600;
        line-height: 1px;
      }

      .logo-img {
        width: 1.9rem;
        filter: invert(34%) sepia(91%) saturate(3121%) hue-rotate(328deg) brightness(100%) contrast(103%);
      }
    }

    .logo-con:hover {
      background-color: white;
      border-radius: 0px;
    }

    .main-nav {
      display: flex;
      align-items: center;

      .main-nav-links {
        font-size: 14px;
      }

      .menu {
        display: flex;

        .img-globe-div {
          cursor: pointer;
          width: 46px;
          padding-top: 13px;
          padding-left: 15px;
          margin-right: 5px;
        }
        .img-globe-div:hover {
          background-color: #f7f7f7;
          border-radius: 22px;
        }
        .img-globe {
          width: 1rem;
          filter: invert(13%) sepia(2%) saturate(18%) hue-rotate(314deg) brightness(103%) contrast(101%);
        }

        .hamburger {
          width: 16px;
        }

        .menu-btn {
          width: 78px;
          padding: 5px 5px 5px 13px;
          border-radius: 200px;
          background-color: #fff;
          border: 1px solid #ddd;
          display: flex;
          align-items: center;
          cursor: pointer;
        }

        .user-img {
          width: 1.875rem;
          margin-left: 12px;
          border-radius: 50%;
        }

        .menu-btn-modal {
          padding-top: 7px;
          padding-bottom: 7px;
          display: flex;
          flex-direction: column;
          position: absolute;
          top: 70px;
          right: 10px;
          border-radius: 12px 12px;
          width: 240px;
          box-shadow: 0 0 3px 0 rgb(0 0 0 / 18%);
          background-color: #fff;
          z-index: 10;

          .menu-modal-link {
            font-size: 14px;
            padding: 15px 20px;
          }

          .menu-modal-link:hover {
            border-radius: 0%;
          }
        }
        .menu-modal-link:last-child:hover {
          border-radius: 0px 0px 4px 4px;
        }
        .menu-modal-link:first-child:hover {
          border-radius: 4px 4px 0px 0px;
        }

        .modal {
          right: 391px;
        }
      }
    }
  }
}
