.details {
  // width: 1280px;
  width: 1119px;
}

.app-footer {
  height: 80px;
  max-width: 100%;
  padding: 0px 30px;
  border-top: 1px solid #dddddd;
  display: flex;
  justify-content: space-between;

  .app-footer-left-div {
    display: flex;
    width: 30vw;
    align-items: center;
    color: #222222;
    font-size: 0.875rem;

    .app-footer-links {
      display: flex;

      .app-footer-bullet {
        width: 1.1875rem;
        text-align: center;
        color: #484848;
      }
    }
  }

  .footer-right-div {
    display: flex;
    justify-content: space-between;
    width: 20vw;
    align-items: center;

    .app-footer-currency {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 10vw;
      font-size: 0.875rem;
      color: #222222;
      font-weight: 600;

      // @media (max-width: 1440px) {
      //   width: 150px;
      // }

      .img-globe {
        width: 1rem;
        filter: invert(13%) sepia(2%) saturate(18%) hue-rotate(314deg) brightness(103%) contrast(101%);
      }

      .app-footer-currency-span {
        text-decoration: underline;
      }
    }

    .app-footer-socials {
      width: 6vw;
      display: flex;
      justify-content: space-between;

      .app-footer-socials-svg {
        width: 1.2rem;
      }
    }
  }
}
