.user-details-page {
  height: 92vh;

  .user-details-section {
    padding-left: 1rem;
    padding-right: 1rem;
    height: 585px;
    margin: auto;
    margin-top: 48px;
    max-width: 1064px;
    margin-bottom: 32px;
    display: flex;

    .user-profile-con {
      width: 33.33333333%;
      padding-right: 0.5rem;
      padding-left: 0.5rem;

      .user-profile {
        border: 1px solid #dddddd;
        border-radius: 12px;
        padding: 1.5rem;
        max-width: 308px;

        .user-profile-picture {
          width: 128px;
          margin: auto;
          margin-bottom: 32px;

          .user-profile-picture-update {
            text-align: center;
            margin-top: 8px;
            font-family: airbnb-regular, Times, serif;
            font-size: 0.875rem;
            color: #222222;
            text-decoration: underline;
            cursor: pointer;
          }

          .user-profile-picture-img {
            width: 8rem;
            border-radius: 50%;
          }
        }

        .user-profile-svg-identification {
          width: 1.4rem;
          filter: invert(8%) sepia(99%) saturate(0%) hue-rotate(239deg) brightness(81%) contrast(87%);
          margin-bottom: 16px;
        }

        .user-profile-identification-title {
          line-height: 28px;
          font-size: 1.125rem;
          font-weight: 800;
          color: #222222;
          margin-bottom: 8px;
        }

        .user-profile-identification-desc {
          color: #222222;
          line-height: 20px;
          margin-bottom: 16px;
        }

        .user-profile-identification-btn {
          cursor: pointer;
          font-size: 16px;
          line-height: 20px;
          font-weight: 600;
          border-radius: 8px;
          border-width: 1px;
          border-style: solid;
          padding-top: 13px;
          padding-bottom: 13px;
          padding-left: 23px;
          padding-right: 23px;
          border-color: #222222;
          color: #222222;
        }

        .user-profile-identification-confirmation {
          margin-top: 32px;
          border-top: 1px solid #ebebeb;

          .user-profile-identification-confirmation-head {
            margin-top: 32px;
            margin-bottom: 24px;
            font-size: 22px;
            line-height: 26px;
            color: #222222;
          }
          .user-profile-identification-confirmation-body {
            margin-bottom: 16px;
            line-height: 20px;
            color: #222222;
            font-weight: 100;
            font-size: 16px;
          }

          .user-profile-svg-checkmark {
            width: 1rem;
            color: #222222;
            margin-right: 0.1rem;
          }
        }
      }
    }

    .user-details-con {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      width: 66.66666666666666%;

      .user-details {
        margin-left: auto;
        max-width: 632px;

        .user-details-top-con {
          margin-bottom: 48px;

          .user-details-name {
            font-family: airbnb-regular, Times, serif;
            color: #222222;
            line-height: 36px;
            margin-bottom: 8px;
            font-size: 2rem;
          }

          .user-details-date {
            font-family: airbnb-regular, Times, serif;
            color: #717171;
            font-size: 0.875rem;
            font-weight: 100;
            margin-bottom: 16px;
          }
          .user-details-edit {
            font-family: airbnb-regular, Times, serif;
            color: #222222;
            font-size: 0.875rem;
            font-weight: 600;
            text-decoration: underline;
            cursor: pointer;
          }
        }

        .user-details-reviews {
          display: flex;
          font-family: airbnb-regular, Times, serif;
          font-size: 1.375rem;
          align-items: center;

          .user-details-reviews-star {
            height: 20px;
            width: 1.25rem;
            margin-right: 0.5rem;
          }
        }

        .user-details-reviews-details {
          margin-top: 32px;
          border-top: 1px solid #ebebeb;
          border-bottom: 1px solid #ebebeb;
          width: 100%;
          display: flex;
          align-items: center;
          height: 85px;

          .user-details-reviews-details-title {
            font-family: airbnb-regular, Times, serif;
            font-size: 0.875rem;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }
  }
}
