/** main-layout-queries **/

/** responsive **/
@media (min-width: 576px) {
    html {
        font-size: 16px;
    }

    .main-layout {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .main-layout {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .main-layout {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .main-layout {
        max-width: 1140px;
    }
}

/*********************************/

/**  stay-details-queries  **/

@media only screen and (min-width: 100px) and (max-width: 600px) {
    .details-main-con {
        margin-left: 0;
        margin-right: 0;
    }
    .gallery-grid {
        width: 100%;
        /* background: black; */
    }
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
    .details-main-con {
        margin-left: 3%;
        margin-right: 3%;
    }
    .gallery-grid {
        width: 90%;
        /* background: purple; */
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
    .details-main-con {
        margin-left: 3%;
        margin-right: 3%;
    }
    .gallery-grid {
        width: 90%;
        /* background: blue; */
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .details-main-con {
        margin-left: 8%;
        margin-right: 8%;
    }
    .gallery-grid {
        width: 90%;
        /* background: yellow; */
    }
}

@media only screen and (min-width: 1600px) and (max-width: 1700px) {
    .details-main-con {
        margin-left: 390px;
        margin-right: 390px;
    }
}

/*********************************/

/** header queries **/

@media (max-width: 550px) {
    .main-nav-host {
        display: none;
    }
}

@media (max-width: 1127px) {
    .app-header-con {
        padding: 0px 10px;
        .app-header {
        }
        .logo-con {
            display: none;
        }

        .small-filter-div {
            display: none;
        }
    }
}

@media (max-width: 1760px) {
    .menu-btn-modal {
        right: 81px;
    }
}

/*********************************/

/**  home-page-queries  **/

@media (max-width: 575px) {
    .main-container {
        .con-sentence {
            .sentence {
                font-size: 25px;
            }
        }
    }
    .destenations {
        .destnations-main-title {
            font-size: 25px;
        }
        .dest-grid {
            grid-template-columns: repeat(1, 1fr);
            grid-row-gap: 3em;
        }
    }

    .host-container {
        background-position: 50%;
        .host-title-container {
            .host-title {
                font-size: 65px;
                left: 10px;
            }
        }
    }
}

@media (max-width: 730px) {
    .main-container {
        .con-sentence {
            .sentence {
                font-size: 35px;
            }
        }
    }
    .destenations {
        .destnations-main-title {
            font-size: 35px;
        }
    }
}

@media (max-width: 813px) {
    .main-container {
        .con-sentence {
            .sentence {
                font-size: 45px;
            }
        }
    }
}

@media (max-width: 998px) {
    .main-container {
        .con-sentence {
            .sentence {
                font-size: 50px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .destenations {
        .dest-grid {
            grid-template-columns: repeat(2, 0.4fr);
            grid-row-gap: 3em;
        }
    }
}
@media (max-width: 1050px) {
    .host-container {
        .host-title-container {
            .host-title {
                font-size: 70px;
                left: 25px;
            }
        }
    }
}

/*********************************/

/**  footer-queries  **/

@media (max-width: 470px) {
    .app-footer {
        justify-content: space-around;
        flex-direction: column-reverse;
        // align-items: center;
        margin-top: 1px;
        .app-footer-left-div {
            justify-content: center !important;
            align-items: center !important;
            width: 100%;
        }

        .footer-right-div {
            justify-content: center !important;
        }
    }
}

@media (max-width: 743px) {
    .app-footer {
        padding: 0px 10px;

        .footer-right-div {
            justify-content: flex-end;
            .app-footer-currency {
                display: none;
            }
        }
    }
}

@media (max-width: 1127px) {
    .app-footer {
        padding: 0px 10px;
        .app-footer-left-div {
            .app-footer-copyrights {
                white-space: nowrap;
            }
        }
    }
}

@media (max-width: 1440px) {
    .app-footer {
        .footer-right-div {
            width: 320px;

            .app-footer-currency {
                width: 150px;
            }

            .app-footer-socials {
                width: 90px;
            }
        }
    }
}
/*********************************/
