@font-face {
    font-family: "airbnb-regular-old";
    src: url("../../../src/assets/font/brown-regular.ttf");
}
@font-face {
    font-family: "airbnb-regular";
    src: url("../../../src/assets/font/Airbnb_Cereal-Regular.ttf");
}
@font-face {
    font-family: "airbnb-medium";
    src: url("../../../src/assets/font/Airbnb_Cereal-Medium.ttf");
}
@font-face {
    font-family: "airbnb-bold";
    src: url("../../../src/assets/font/Airbnb_Cereal-Bold.ttf");
}
